/* @font-face{
  src: url('../fonts/OpenSans-Light.ttf');
  font-family: 'Open Sans';
} */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

/**
 * Reset básico
 **/
* {
  margin: 0;
  padding: 0;   
}
body {
  text-align: center;
  font-family: 'Open Sans', Helvetica;
}

/**
 ID -> No css referenciado pela #
 Classes -> No css referenciado pelo .
 */
 .header {
  width: 100%; 
  background: #000;
  border-bottom: 3px solid orange;
  display: table;
 }
 .header section {
    width: 1024px;
    background: #fff;
    margin: 0 auto;
 }
.menu ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu .item {
  float: left;
  position: relative;
}
.menu .item a {
  float: left;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  transition: background .4s 
    ease-in-out;

}
.menu .item a:hover {
    background: #fff;
    color: #000;
}
/* 
Active quando você clica sobre o elemento
.menu .item a:active {
    background: #069;
    color: #000;
}
Visited que você já visitou o link em
questão
.menu .item a:visited {
    background: #978;
    color: #000;
} */

.menu .item .submenu {
  display: none;
  position: absolute;
  top: 47px;
  background: #000;
}
.menu .item .submenu .item a{
  float: none !important;
  display: block;
  width: 150px;
}
.menu .item:hover .submenu{
  display: block;
}

/**
 Background sessions
*/
#home {
  background: url(https://iguatemi.com.br/saocarlos/sites/saocarlos/files/styles/crop_blog_1920x720/public/20916-destaque.jpg?itok=uB7VFMfQ) top center no-repeat;
  height: 550px;
}

/**
 Padding
*/
.paddingTop {
   padding-top: 10%;
}
/**
  Section Title
*/
.section_title {
  width: 100%;
  text-align: left;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
}

/**
  Row 
*/
.row {
   width: 100%;
   display: table;
   margin-bottom: 30px;
}
.row .container {
  width: 1250px;
  margin: 0 auto;
}
.row .container h1,
.row .container h4  {
  color: #fff;
  margin-bottom: 20px; 
  background: rgba(0, 0, 0, .6);
  padding: 10px;
}

/**
   btn
*/
.btn {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  background: #999;
  text-shadow: 1px 1px 0px #000;
  border-radius: 5px;
}
.btn:hover {
  background: #333;
}
.btn-green {
  background: #228B22;
}
.btn-green:hover {
  background: #006400;
}

/**
Featured
*/
.featured {
  width: 630px;
  padding: 10px;
  float: left;
}

.featured a,
.featuredList ul li a,
.col4 a {
  color: #000;
  text-align: left;
  text-decoration: none;
}
.featured a img {
  margin-bottom: 10px;
}
.featured a h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.featuredList {
  width: 580px;
  padding: 10px;
  float: right;
}
.featuredList ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.featuredList ul li:first-child {
  padding-top: 0 !important;
}
.featuredList ul li {
  width: 90%;
  padding: 5%;
  display: table;
}
.featuredList ul li a img {
  float: left;
  margin-right: 10px;
}


/**
    Cols
*/
.col4 {
  float: left;
  background: #006400;
  width: 30%;
  padding: 1%;
  margin: .5%;
  background: #d5d5d5;
}
.col4round {
  border-radius: 5px;
}
.col4 img {
  width:  100%;
  margin-bottom: 10px;
}