/*
  Resete CSS
*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px; 
   text-align: center;
}

/*
  # -> estilizando um elemento com o atributo id
  . -> estilizando um elemento com o atributo class
 */

 /*
  Header
 */
 .header {
     width: 100%;
     display: table;
     background: rgba(0, 0, 0, 0.6);
 }

 /*
   Menu
 */
 .menu .list {
    list-style: none;
 }
.menu .list .list-item {
    float: left;

}
.menu .list .list-item a {
    float: left;
    text-decoration: none;
    /*
       1: os 4 cantos com o mesmo valor
       2: topo e baixo com mesmo valor &
          direita e esquerda mesmo valor
       3: Topo como seu valor, direita & esquerda 
       com mesmo valor & baixo com seu valor
       4: Respeita setindo horário:
         topo, direita, baixo & esquerda
    */
    padding: 15px 20px;
    /*
    As linhas abaixo, representam 
    a chamada acima:
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
    */
    color: #fff;
    transition: background .6s ease-in-out; 
}

.menu .list .list-item a:hover {
    background: #fff;
    color: #000;
}

/*
 Search
*/
.search {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
.search .search-input {
    width: 250px;
    padding:8px;
    border-radius: 30px;
    border: none;
}

.search-button {
    border-radius: 5px;
    padding: 8px;
    border: none;
}

/*
 Content
 */
.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: table;
}

.posts {
    width: 70%;
    float: left;
}

.posts .post {
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #CCC;
    padding-bottom: 10px;
}

.posts .post img {
    width: 100%;
    margin-bottom: 15px;
}

.posts .post p {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 25px;
}

.sidebar {
    width: 28%;
    float: right;
}

.sidebar .sidebar-item {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.sidebar .sidebar-item .sidebar-item-title {
    width: 100%;
    background: #999;
    padding: 10px;
    text-align: left;
}

.sidebar .sidebar-item .sidebar-item-content {
    padding: 10px;
}

.footer {
    width: 100%;
    height: 50px;
    padding-top: 50px;
    background: #999;
}